<header>
    <nav class="top-nav">
        <a href="/" class="top-title">魔法盒子</a>
        <ul>
            <li class="top-link">
                <a href="/authors">作者</a>
            </li>
            <li class="top-link">
                <a href="/authors/new">添加新作者</a>
            </li>
            <li class="top-link">
                <a href="/books">书籍列表</a>
            </li>
            <li class="top-link">
                <a href="/books/new">添加新书</a>
            </li>
        </ul>
        
    </nav>
</header>