* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(5px) contrast(10); */
}

#audio1 {
  width: 50%;
  margin: 50px auto;
  opacity: 0;
}

#fileupload {
  position: absolute;
  top: 150px;
  color: #fff;
  z-index: 100;
  opacity: 0;
}
#btn-wrap  {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}
#btn-wrap  button {
  background-color: red;
  display: block;
  width: 100px;
  height: 50px;
}
