<h2>编辑信息</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields')%>
    <a href="/authors/<%= author.id %>">取消</a>
    <button type="submit">更新</button>
</form>