<h2>搜索作者</h2>
<form action="/authors" method="GET">
    <label for="">名字</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">搜索</button>
</form>
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
<% }) %>