<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">编辑</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}`})%>

<% if(booksByAuthor.length > 0) {%>
    <h2>作者的书</h2>
    <% booksByAuthor.forEach(book => { %>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
      <% }) %>
<% }%>