<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <main id="app">
        <h1>{{ title }}</h1>
        <form action="" @submit.prevent="addTodo">
            <label for="newTodo">星任务</label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="">
            <button type="submit" name="button">添加</button>
            <h4>{{newTodo}}</h4>
        </form>
        <button @click="allDone" name="button">全部完成</button>
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done">
                <span :class="{  done:todo.done }">{{todo.title}}</span>
                <button @click="removeTodo(todo)">删除</button>
            </li>
        </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>